:root {
  --color-1: rgb(10, 175, 240);
  --color-2: rgb(93, 89, 89);
  --color-3: rgb(255, 255, 255);
  --color-4: rgb(0, 0, 0);
}
@media (max-width: 1200px) {
  .header-2-hijo {
    max-width: 900px;
  }
  .hero-section {
    max-width: 800px;
  }
  .hero-img {
    display: none;
  }
  .section-beneficios {
    max-width: 800px;
  }
  .beneficios-title {
    left: 300px;
  }
  .beneficio-1,
  .beneficio-2,
  .beneficio-3,
  .beneficio-4 {
    width: 140px;
    height: 140px;
    top: 80px;
  }
  .beneficio-1 {
    left: 5px;
  }
  .beneficio-2 {
    left: 150px;
  }
  .beneficio-3 {
    left: 510px;
  }
  .beneficio-4 {
    left: 655px;
  }
  .beneficio-parrafo {
    font-size: 0.8rem;
  }
  .contacto {
    flex-direction: column;
    max-width: 700px;
  }
  .contacto-input {
    width: 400px;
  }
  textarea {
    width: 500px;
  }
  .info-ubicacion {
    text-align: center;
  }
  iframe {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .navbar-list {
    display: none;
    gap: 30px;
  }

  .menu-desplegable {
    display: block;
  }
  #menu:checked ~ .navbar-list {
    display: flex;
  }
  .header-logo {
    left: -25px;
  }
  .registro-login {
    flex-direction: column;
  }
  .hero-section {
    max-width: 500px;
  }

  .section-beneficios {
    flex-direction: column;
  }
  .container-beneficios {
    height: 700px;
    width: 300px;
  }
  .beneficios-title {
    left: 70px;
    top: 10px;
    width: 160px;
    height: 160px;
  }
  .beneficios-title h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .beneficio-1,
  .beneficio-2,
  .beneficio-3,
  .beneficio-4 {
    width: 120px;
    height: 120px;
    left: 90px;
  }

  .beneficio-parrafo {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .beneficio-1 {
    top: 180px;
  }
  .beneficio-2 {
    top: 310px;
  }
  .beneficio-3 {
    top: 440px;
  }
  .beneficio-4 {
    top: 570px;
  }

  .contacto {
    max-width: 600px;
  }

  .footer-logo-list {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-1 p {
    font-size: 0.9rem;
    text-align: center;
  }
  .navbar-list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 220px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--color-1), var(--color-2));
    z-index: 10;
    gap: 60px;
    border-bottom: 3px solid var(--color-4);
  }
  .navbar-link,
  .navbar-link-movile {
    color: var(--color-4);
    font-size: 1.2rem;
  }
  .navbar-link:hover {
    color: var(--color-3);
  }

  .registro-login {
    display: none;
  }

  .navbar-link-movile {
    display: flex;
  }
  .movile-ultima {
    order: 1;
  }

  .header-logo {
    left: 20px;
  }
  .hero-section {
    max-width: 400px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .contacto {
    max-width: 400px;
  }
  form {
    width: 300px;
  }

  textarea {
    width: 300px;
  }
  .info-ubicacion {
    width: 300px;
  }
  iframe {
    width: 300px;
  }

  .footer-1 {
    flex-direction: column;    
    gap: 10px;
    height: 40vh;
    text-align: center;
  }
  
  .footer-2 {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .header-1 p {
    padding: 10px;
  }
  .hero-section {
    max-width: 350px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .hero-parrafo {
    font-size: 0.8rem;
  }
  .contacto {
    max-width: 320px;
  }

  .footer-2 p {
    max-width: 380px;
  }
}
